//
// Config
//

@import "config/mixin";
@import "config/color";
@import "config/breakpoint";

//
// Main
//

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-margin-before: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body .v-modal {
  background-color: rgba(50, 64, 87, 0.6);
}

//
//  Partials
//
@import "partial/map";
@import "partial/button";
@import "partial/dialog";
@import "partial/location-indicator";
@import "partial/location-switch";
@import "partial/request";
@import "partial/status";
@import "partial/auth";


// Animations
@import "animation/bounce";
