.Login, .Register {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #2489B0;
}

.modal-welcome {
  background-color: rgba(36, 137, 176, 0.8);

  .el-dialog__header {
    display: none;
  }

  .el-dialog {
    margin: 0;
    padding: 0;
    margin-top: -100px;
    min-width: 200px;
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;

    .el-dialog__body {
      padding: 0;
    }

    h1 {
      font-weight: 100;
      font-size: 90px;
      margin-bottom: 24px;
      color: white;
    }

    .lead {
      color: white;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    .link-auth {
      margin-left: 24px;
    }
  }
}

.link-auth, .link-auth:visited {
  color: white;
}

.auth-box {
  opacity: 1;
  max-width: 420px;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .el-form-item__label {
    display: none;
  }
}
