.el-button.app-btn-action {
  z-index: 1;
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 71px;
  height: 71px;
  padding: 0px 0px;
  border-radius: 35px;
  border-color: white;
  font-size: 45px;
  background: #FFFFFF;
  box-shadow: none;
  text-align: center;
}

.image-button {
    z-index: 1;
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border-color: transparent;
    margin-left: 0px;
    border-width: 0px;
    padding: 0px;
    background-color: transparent;
}

#button-share  {
  right: 24px;
  bottom: 24px;
}
#button-create  {
  right: 24px;
  bottom: 24px;
}
#button-menu  {
  left: 24px;
  top: 24px;
}

#btn-action-create {
  font-size: 50px;
}

#btn-direction {
  left: 24px;
  bottom: 24px;
  //bottom: auto;
}

#showbtn {
  position: absolute;
  left: 24px;
  bottom: 24px;
}


.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
