#btn-action-create {
  z-index: 1;
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 71px;
  height: 71px;
  padding: 0px 0px;
  font-size: 50px;
  border-radius: 35px;
  border-color: white;
  /* Oval: */
  background: #FFFFFF;
  box-shadow: none;
  text-align: center;
}
