//
//  General
//

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.el-loading-mask.is-fullscreen {
  z-index: 1000;
}

//
//  Area overlay
//

.area-indicator {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
  border: 3px solid #58B7FF;
  box-shadow: 0 0 90px 62px rgba(88, 183, 255, 0.2);
  pointer-events: none;
}

//
//  Search box
//

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  // margin-left: 12px;
  margin-top: 10px;
  padding: 0px 13px;
  height: 40px;
  line-height: 40px;
  text-overflow: ellipsis;
  z-index: 10 !important;
  width: 300px;
  border: none;
  outline: none;
  box-shadow: none;
}

#pac-input:focus {
  border-color: #4d90fe;
}

//
//  AvatarMarker
//

$color-marker-default: #3a3737;
$color-marker-online: #2eb10c;
$color-marker-recent: #fbce16;
$color-marker-idle: #ee3c2e;

.avatar-marker {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(255,255,255,0.7);
  border: 3px solid $color-marker-default;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &.avatar-marker-online {
    border: 3px solid $color-marker-online;

    &:before {
      border-color: $color-marker-online transparent transparent transparent;
    }
  }

  &.avatar-marker-recent {
    border: 3px solid $color-marker-recent;

    &:before {
      border-color: $color-marker-recent transparent transparent transparent;
    }
  }

  &.avatar-marker-recent {
    border: 3px solid $color-marker-idle;

    &:before {
      border-color: $color-marker-idle transparent transparent transparent;
    }
  }

  .label {
    line-height: 70px;
    font-size: 16px;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -11px;
    margin-left: 17.5px;
    border-style: solid;
    border-width: 12px 15px 0 15px;
    border-color: $color-marker-default transparent transparent transparent;
  }
}
