//
//  Area overlay
//

.area-indicator {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;

    border: 3px solid #58B7FF;
    // border: 3px solid rgb(169, 88, 255);
    // border: 3px solid rgb(134, 121, 148);
    box-shadow: 0 0 90px 62px rgba(88, 183, 255, 0.2);
    // box-shadow: 0 0 25px 60px rgba(169, 88, 255, 0.1);
    // box-shadow: 0 0 60px 60px rgba(134, 121, 148, 0.2);
    pointer-events: none;

    // &:before {
    //   content: "Meeting area";
    //   display: block;
    //   position: absolute;
    //   top: 25px;
    //   left: 25px;
    //   padding: 6px 8px;
    //   background-color: rgb(134, 121, 148);
    //   border-radius: 5px;
    //   color: white;
    // }
}

//
//  Search box
//

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 16px 13px;
    text-overflow: ellipsis;
    z-index: 10 !important;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}
