#status{
  z-index: 1;
  position:absolute;
  left: 40%;
  top: 15px;
  right: 40%;
  bottom: auto;
  width: auto;
  height: auto;
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  text-align: center;
}
